/* MovieDetails.css */
.movie-details {
  background-color: #e3f2fd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 75px; /* Espace entre la liste et les détails */
  flex: 1.5; /* Diminue la taille */
  width: 65%;
  max-width: 1100px;
  height: auto; /* La hauteur s'adapte au contenu */
}


.movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.movie-image img {
  width: 230px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info p {
  margin: 8px 0;
}

.movie-info ul {
  list-style-type: none;
  padding: 0;
}

.movie-info ul li {
  margin-bottom: 4px;
}

.movie-synopsis {
  margin-top: 20px;
}

.movie-synopsis h3 {
  font-size: 20px;
  color: #0d47a1;
}

.movie-synopsis p {
  font-size: 16px;
  line-height: 1.5;
}